.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 500px;
    height: 50vh;
}

.image-left {
    height: 100%;
}

.right-side {
    height: 100%;
    padding: 15px 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.card .right-side p {
    line-height: 20px;
}

.card-subtitle {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
    letter-spacing: 5px;
}

.card h1 {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    font-size: 25px;
}

.price-container {
    font-family: 'Fraunces', serif;
    display: flex;
    align-items: center;
    color: hsl(228, 12%, 48%);
    margin-bottom: 10px;;
}

.price {
    font-size: 24px;
    color: hsl(158, 36%, 37%);
    margin-right: 15px;
}

.old-price {
    text-decoration: line-through;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

button#add-to-cart {
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    width: 100%;
    color: white;
    box-shadow: none;
    border: none;
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}