.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-width: 40vw;
    max-width: 50vw;
    height: 50vh;
}

.image-left {
    height: 100%;
}

.right-side {
    padding: 10px;
}

.card-subtitle {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
}

.card h1{
    font-family: 'Fraunces', serif;
}

.price-container {
    font-family: 'Fraunces', serif;
}